<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Tarifs|ScaleYouUp</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="css/simple-line-icons.css"/>
<link rel="stylesheet" type="text/css" href="css/animate.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css"/>
<link rel="stylesheet" type="text/css" href="css/owl.theme.css"/>
<link rel="stylesheet" type="text/css" href="css/owl.transitions.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<div class="pricing_table_section" id="pricing_part">
        <div class="container">

Formule START-UP
€1990
par mois
5 recrutements par an

Valable pendant 12 mois

Sélectionner
Prise en charge de l'intégralité des recrutements en France
Un Head of Talent dédié(e) à votre entreprise
Dashboard hebdomadaire pour le suivi de vos recrutements
Conseil, rédaction & diffusion de vos annonces
Définition de la fiche de poste
Chasse de tête pour les profils Top & Middle Management
Recrutements faits en votre nom

              <h2>Nos tarifs</h2>
                    <h4>choisissez l'accompagnement qui vous convient</h4>


                    <div class="insider">


                      <div class="block">
                        <div class="head">
                          <h2>Formule START-UP</h2>
                            <p><strong>€1990</strong>par mois</p>
                            <p>Valable pendant 12 mois</p>
                            <p>Sélectionner</p>
                          </div>
                        <ul>
                          <li>Prise en charge de l'intégralité des recrutements en France</li>
                          <li>Un Head of Talent dédié(e) à votre entreprise</li>
                          <li>Dashboard hebdomadaire pour le suivi de vos recrutements</li>
                          <li>Conseil, rédaction & diffusion de vos annonces</li>
                          <li>Définition de la fiche de poste</li>
                          <li>Chasse de tête pour les profils Top & Middle Management</li>
                          <li>CRecrutements faits en votre nom</li>
                          <li><a href="#" class="button5">SIGN UP</a></li>
                          </ul>
                      </div>


                      <div class="block">
                        <div class="head">
                          <h2>Premium</h2>
                          <p>From <strong>$59</strong> per month</p>
                        </div>
                        <ul>
                          <li>Total Users <span>10</span></li>
                          <li>Unlimited Styles <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>Advance Protection <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>Cloud Storage <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>24/7 Customer Service <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>Backup Service <span><img src="images/icons/i9.png" alt="" /></span></li>
                          <li><h5>$59 Per Month</h5> <a href="#" class="button5 button6">SIGN UP</a></li>
                        </ul>
                      </div>



                      <div class="block">
                        <div class="head">
                          <h2>Ultimate</h2>
                          <p>From <strong>$59</strong> per month</p>
                        </div>
                          <ul>
                          <li>Total Users <span>10</span></li>
                          <li>Unlimited Styles <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>Advance Protection <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>Cloud Storage <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>24/7 Customer Service <span><img src="images/icons/i8.png" alt="" /></span></li>
                          <li>Backup Service <span><img src="images/icons/i9.png" alt="" /></span></li>
                          <li><h5>$59 Per Month</h5> <a href="#" class="button5">SIGN UP</a></li>
                        </ul>
                      </div>


                    </div>


        </div>
        </div>

<!-- Contact -->
  <div class="cont" >
    <div class="container" id="contact">
      <div  class="row" >
        <div class="col-md-5">
          <div class="address" >
            <h3>Contact</h3></br>
            <div class="adres">
              <p>128 rue La Boétie</p>
              <p>75008 PARIS</p>
              <p>Tél : 01 70 25 98 56</p>
              <p>contact@88-recrutement.com</p>
            </div>
          </div>
          <div class="media">
            <span>
              <a href=""><img src="images/fb.png"></a>
              <a href=""><img src="images/inst.png"></a>
              <a href=""><img src="images/twi.png"></a>
              <a href=""><img src="images/you.png"></a>
            </span>
          </div>
          <div class="corp">
            <p>&copy; 2020 par EIGHTY EIGHT.</p>
          </div>
        </div>
          <div class="col-md-6" >
            <div class="formu">
              <div class="contact-form" >
                <form role="form" >
                  <div class="col-md-12">
                    <i><input type="text" class="form-control" id="prénom" placeholder="Prénom">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="nom" placeholder="Nom de famille">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="fonction" placeholder="Fonction">
                  </div>
                  <div class="col-md-12">
                    <input type="adress" class="form-control" id="adresse" placeholder="Adresse">
                  </div>
                  <div class="col-md-12">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="téléphone" placeholder="Téléphone">
                  </div>
                  <div class="col-md-12">
                    <textarea class="form-control" placeholder="Rédigez votre messsage ici..." rows="6"></textarea>
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit" class="contact-button">Envoyer</button>
                  </div>
                </form>
              </div>
              </div>
          </div>
      </div>
    </div>
  </div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.countTo.js"></script>
<script type="text/javascript" src="js/jquery.waypoints.min.js"></script>
<script>
$(document).ready(function() {

      $("#owl-demo").owlCarousel({

          navigation : false, // Show next and prev buttons
          slideSpeed : 500,
		  autoPlay : 3000,
          paginationSpeed : 400,
          singleItem:true



      });

    });


	jQuery(function ($) {

      $('.timer').data('countToOptions', {
        formatter: function (value, options) {
          return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
        }
      });



      $('#testimonials').waypoint(function() {
    $('.timer').each(count);
	});

      function count(options) {
        var $this = $(this);
        options = $.extend({}, options || {}, $this.data('countToOptions') || {});
        $this.countTo(options);
      }
    });


	$(document).ready(function(){

  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {


  event.preventDefault();

  var hash = this.hash;


  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 900, function(){

    window.location.hash = hash;
    });
  });
})
</script>
</body>
</html>
